<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${cliente.nova} ? 'Cadastro de Cliente' : 'Edição de Cliente'">Cadastro de Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white">
                <h3 class="mb-0" th:if="${cliente.nova}">Cadastro de Cliente</h3>
                <h3 class="mb-0" th:unless="${cliente.nova}" th:text="|Edição do ${cliente.nome}|">Edição de Cliente</h3>
            </div>
            <div class="card-body">
                <form method="POST" th:object="${cliente}"
                      th:action="${cliente.nova} ? @{/cliente/nova} : @{/cliente/{codigo}(codigo=${cliente.codigo})}">
                    
                    <input type="hidden" th:field="*{codigo}" />
                    
                    <div class="row">
				<div class="form-group  col-sm-4  bw-required" adm:classforerror="tipoPessoa">
					<label class="control-label">Tipo pessoa</label> 
					<div>
						<th:block th:each="tipoPessoa : ${tiposPessoa}">
							<div class="radio  radio-inline">
								<input type="radio" th:id="|id_${tipoPessoa}|" class="js-radio-tipo-pessoa" 
									th:field="*{tipoPessoa}" th:value="${tipoPessoa}" 
									th:attr="data-documento=${tipoPessoa.documento}, data-mascara=${tipoPessoa.mascara}"/> 
								<label class="control-label" th:for="|id_${tipoPessoa}|" th:text="${tipoPessoa.descricao}">Física</label>
							</div>
						</th:block>
					</div>
				</div>
				
				<div class="form-group  col-sm-8  bw-required" adm:classforerror="cpfOuCnpj">
					<label for="cpfOuCnpj" class="control-label">CPF/CNPJ</label>
					<input type="text" class="form-control" id="cpfOuCnpj" th:field="*{cpfOuCnpj}" disabled/>
				</div>
			</div>
                    
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" id="nome" th:field="*{nome}" class="form-control"  th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" placeholder="Digite o nome">
                        <div th:if="${#fields.hasErrors('nome')}" class="text-danger mt-1" th:errors="*{nome}" ></div>
                    </div>

                    <div class="mb-3">
                        <label for="idade" class="form-label">Idade</label>
                        <input type="number" id="idade" th:field="*{idade}" class="form-control" placeholder="Digite a idade">
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-check-circle"></i> Salvar
                        </button>
                        <a href="/cliente" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

	 <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script th:src="@{/javascripts/mascara-cpf-cnpj.js}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.js"></script>
</body>
</html>
